/* 
font-family: 'Fjalla One', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Open Sans Condensed', sans-serif;
*/

body {
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px;
}
h1 {
    font-size: 80px;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: turquoise;
}
h2{
    font-size: 20px;
    color: orchid;
}

h1, h2, h3 {
    font-family: 'Lobster', cursive;  
    display: inline;
}
p {
    display: inline;
}
.highlight {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 32px;
    color: salmon;
    text-shadow: 2px 2px gold;
}

.bigger {
    font-size: 50px;
    writing-mode: vertical-rl;
    color: yellowgreen;
}

.wrapper {
    width: 70%;
    margin: 80px auto;
}

.yuh {
    color: lightskyblue;
}